<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WLN Suite">
	<listeners>
		<listener class-name="com.wln.listeners.ExtentReportListener"></listener>
	</listeners>
	<test thread-count="5" name="WLN Login Test">
		<classes>
			<class name="com.wln.tests.login.LoginTest" />

		</classes>
	</test>
</suite> <!-- Suite -->